:host {
  display: flex;
  height: 100vh;
  width: 100%;
}

.pagina {
  background-color: #f1f1f1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

etapas-admissao {
  padding: 15px;
}

.buscaCpf {
  margin-top: 50px;
  padding: 15px 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff;
  border-radius: 5px;
}

.campoCpf {
  margin-top: 15px;
}

.containerCpf {
  display: flex;
  align-items: center;
}

button {
  height: 45px;
  color: #fff !important;
  margin-left: 10px;
}

.container-data {
  display: flex;
  align-items: center;
}

.card-data {
  margin-left: 15px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
