<menu-lateral></menu-lateral>
<div class="pagina">

  <barra-superior></barra-superior>
  <etapas-admissao></etapas-admissao>

  <div class="buscaCpf">

    <h1>Informe o cpf do futuro cooperado (a)</h1>

    <div class="subtitulo">
       Se necessário você poderá duplicar uma conta existente ou pausar e retornar <br/>
       este cadastro futuramente Digite apenasos números sem (sem pontos ou traços).
    </div>

    <div class="containerCpf">
      <mat-form-field class="campoCpf" color="warn" appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput mask="000.000.000-00" pattern="13591682730" required [(ngModel)]="cpf" type="text">
        <mat-error>
          CPF inválido
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="buscarCPF()">
        <mat-icon>search</mat-icon>
        Consultar
      </button>
    </div>
  </div>

  <div class="containerCards">
    <cartao-container *ngIf="showSituacao" titulo="Situação cadastral do CPF" subtitulo="Consulta da receita federal">
      <div class="conteudoCard">
        <div class="container-data">
          <mat-icon>person</mat-icon>
          <div class="card-data">
            <span class="subtitulo">Nome</span>
            <span>Mariane de Souza Oliveira</span>
          </div>
        </div>
        <div class="container-data">
          <mat-icon color="primary">checked</mat-icon>
          <div class="card-data">
            <span class="subtitulo">Situação do cpf</span>
            <span>Regular</span>
          </div>
        </div>
      </div>
    </cartao-container>
  </div>

</div>

